server:
  port: 9005
eureka:
  instance:
    hostname: localhost:9005
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://localhost:9003/eureka/,http://localhost:9004/eureka/,http://localhost:9005/eureka/
