server:
  port: 9004
eureka:
  instance:
    hostname: localhost:9004
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:9003/eureka/,http://localhost:9005/eureka/,http://localhost:9005/eureka/
